body {
    margin: 0;
    padding: 0;
    font-family: 'Yoon 윤고딕';
}

.nav {
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    background: white;
    box-shadow: 10px gray;
}

.container-left {
    padding-left: 60px;
    padding-right: 30%;
    padding-top: 30px;
    padding-bottom: 25px;
}

.container-right {
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo {
    font-size: 30px;
}

.manu {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
}

.doc {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    background:#fede22;
    border-radius: 30px;
}

.sec-1 {
    display: flex;
    background-image: url(./main-bg2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.Box-1 {
    padding-top: 300px;
    padding-bottom: 500px;
    padding-left: 250px;
}

.Box-1 h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 35px;
}

.link {
    display: flex;
    padding: 20px 0px 200px 0px ;
    font-family: dotum,sans-serif;
}

.google {
    display: block;
    padding: 20px;
    background: white;
    border-radius: 15px;
}

.Apple {
    padding: 20px;
    background: white;
    border-radius: 15px;
}

.sel-1 {
    padding-left: 15px;
}
.sel-1 {
    padding-right: 15px;
}
.sec-2 {
    padding: 600px;
    background: white;
}

.fade-out {
    padding: 20px;
    background:#c2c6b3;
}

.sec-3 {
    padding: 600px;
    background: white;
}

.sec-4 {
    padding: 600px;
    background: white;
}

.sec-5 {
    padding: 600px;
    background: white;
}

.sec-6 {
    padding: 600px;
    background: white;
}

.sec-7 {
    padding: 600px;
    background: blue;
}

.sec-8 {
    padding: 600px;
    background: white;
}

.sec-9 {
    padding: 600px;
    background: #c2c6b3;
}

.bottom {
    padding: 110px;
    opacity: 0.4;
    background: gray;
}